.presentation{
    display: flex;
    max-width: 1000px;
    margin: auto;
    background-color: #363636;
    color: white;
    flex-wrap: wrap;
    padding: 20px;
    border: 6px solid #5bc4be;
    border-radius: 20px;
}
.presentation h2{
    color: #5bc4be;
}
.texte_presentation{
    padding: 10px;
    width: 670px;
}
.titre_presentation{

}
.soustitre_presentation{

}
.contenu_presentation{

}
.monimage{
    width: 300px;
    background-color: white;
    padding: 5px;
}