aside{
    background-color:var(--darkThemeBackgroundColor);
    min-width: 20%;
    min-height: 20%;
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
    border:6px solid var(--borderColor)
}

aside img{
    width: 95%;
    margin-top: 20px;
    background-color: var(--white);
    padding: 5px;
}

figure{
    margin: 20px 0;
}

figcaption{
    font-size: 25px;
    font-weight: bolder;
    color: var(--title);
}

.GoogleMap{
    width: ;
    background-color: var(--white);
    padding: 5px;
}
