:root{
    --required: #ff0000;
    --placeholderFocus:#5bc4be;
    --placeholderFocusTxt:#ffffff;
    --buttonHover:#44928e;
    --input:#363636;
}

form fieldset{
    padding: 20px;
    margin-bottom: 20px;
    border: none ;
    border: 4px solid var(--placeholderFocus);
    border-radius: 10px;
}

form legend{
    color: var(--buttonHover);
    font-size: 30px;
}

form .inputcss {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px;
}

form .inputcss div{
    min-width: 50%;
}

form .inputcss label{
    display: block;
    width: 80%;
    color: var(--buttonHover);
    font-size: 20px;
}

form span{
    color: var(--required);
}

form .inputcss input{
    width: 80%;
    display: block;
    margin: 0;
    background-color: var(--input);
    color: var(--buttonHover);
    border: 4px solid var(--placeholderFocus);
    border-radius: 10px;
    outline: none;
    padding: 10px;
}

form .inputcss input::placeholder, textarea::placeholder{
    color: var(--buttonHover);
}

form .inputcss input:focus, textarea:focus{
    color: var(--placeholderFocusTxt);
    background-color: var(--placeholderFocus);
    border: 4px solid var(--input);
}

form .inputcss input:focus::placeholder, textarea:focus::placeholder{
    color: var(--placeholderFocusTxt);
}


form button{
    color: var(--placeholderFocus);
    background-color:var(--input) ;
    border: none;
    margin: 20px;
    padding: 20px;
    border-radius: 40px;
    font-size: 20px;
    letter-spacing: 4px;
    border: 4px solid var(--placeholderFocus);
}

form button:hover{
    background-color: var(--placeholderFocus);
    color: var(--placeholderFocusTxt);
    border: 4px solid var(--input);
}

form .cgu{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px;
    color: var(--buttonHover);
    font-size: 20px;
}

.buttonValidation{
    text-align: center;
}

.textareacss textarea{
    width: 85%;
    display: block;
    background-color: var(--input);
    color: var(--buttonHover);
    border: 4px solid var(--placeholderFocus);
    border-radius: 10px;
    outline: none;
    padding: 10px;
    margin: 20px;
}

.textareacss label{
    text-align: center;
    display: block;
    color: var(--buttonHover);
    font-size: 20px;
}