header nav {
    background-color: var(--darkThemeBackgroundColor);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid white;
}

header nav ul{
    list-style-type: none;
    display: flex;
    padding:0 20px;
}

header nav li{
    margin: 0 20px;
}

header nav ul li a{
    padding: 25px;;
    color: var(--darkThemeTextColor);
    font-size: 24px;
    text-decoration: none;
}

header nav ul li a:hover{
    color:var(--textHover);
}

header nav div a{
    padding-right:10px;
    margin-left: 40px;
    list-style-type: none;
    display: flex;
    align-items: center;
    color: var(--title);
    font-size: 24px;
    text-decoration: none;
}

header nav div a img{
    padding: 10px;
    height: 60px;
}