:root{
    --importantText: #ff0000;
    --text:#363636;
    --title:#5bc4be;
    --white:#ffffff;
    --darkThemeTextColor:var(--white);
    --darkThemeBackgroundColor:var(--text);

    /* Text Hover */
    --textHover:var(--title);
    
    /* Button */
    --buttonTextColor:var(--title);
    --buttonBackgroundColor:var(--text);
    --buttonTextColorHover:var(--darkThemeTextColor);
    --buttonBackgroundColorHover:var(--title);
    

    /* Border */
    --borderColor:var(--title);
    --borderColorHover:var(--text);
    --borderColorFocus:var(--text);

    /* Input & Label*/
    --labelText:var(--title);
    --inputText:var(--title);
    --inputBackgroundColor:var(--text);
    --inputFocus:var(--darkThemeTextColor);
    --inputBackgroundColorFocus:var(--title);
}

body{
    margin: 0;
    padding: 0;
}

header{
    width: 100%;
    position: fixed;
    top: 0;
}

main{
    padding: 100px 0;
}

h2{
    color: var(--title);
}

span{
    color: var(--importantText);
}

aside p, aside td {
    color: var(--darkThemeTextColor);
}